@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  background-color: #dfe0e1;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__items {
  padding: 0 15px;
  text-decoration: underline;
}

/* ********** RESPONSIVE ********* */

@media screen and (max-width: 780px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__list {
    padding: 40px 0;
  }

  p {
    padding: 20px 0;
  }
}
