.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #323335;
  cursor:auto;
}

.home__title {
  font-weight: 400;
  font-size: 3em;
  padding: 40px 0;
  text-shadow: 2px 1px 1px #dfe0e1;
}

.home__pic {
  width: 730px;
  height: 345px;
  box-shadow: 2px 2px 2px 2px black;
  border-radius: 10px;
}

.home__para {
  font-size: 25px;
  text-align: center;
  padding: 40px 0;
}

.home__country {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.home__country__item {
  padding: 10px;
  display: flex;
  align-items: center;
}

.home__country__links {
  text-decoration: none;
  color: #323335;
  font-weight: 500;
  font-size: 18px;
}

.home__country__links:hover {
  border-bottom: 2px solid black;
}


/* RESPONSIVE */

@media screen and (max-width: 780px) {

  .home {
    display: flex;
    flex-direction: column;
  }

  .home__pic {
    display: flex;
    height: auto;
    width: 100%;
  }

  .home__country {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
